.itemImg {
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 2em;
}
.item {
    max-width: 45%;
    width: 100%;
}
.rowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}