.itemImg {
    width: 100%;
    height: 100%;
}
.image {
    height: 150px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 2em;
}
.item {
    max-width: 45%;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.rowTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    position: absolute;
    margin: 0;
    top: 0;
    width: 65px;
    height: 25px;
    color: white;
    text-align: center;
    background-color: #138B00;
    font-weight: bold;
}

.addBtn {
    background-color: #FF5C00;
    color: white;
    width: 120px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}
h5 {
    margin: 0;
}
.desc {
    margin: 5px 0;
}
.more {
    box-sizing: border-box;
    color: white;
    display: block;
    margin-right: 5px;
    padding: 1px 10px;
    background-color: #A4224A;
    -webkit-box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.25);
}