.cartPop {
  width: 30%;
  background-color: #FF5C00;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation: showHide 2s 1;
  padding: 0.4em;
  color: white;
  border: 3px solid rgb(255, 195, 83);
  text-align: center;
}

.hide {
    display: none;
}
@keyframes showHide {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.3;
  }
  90% {
      opacity: 0;
  }
}
