.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 500px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 1em;
    z-index: 5;
    background-color: white;
}
.logo {
    width: 114px;
    height: 48px;
}
.logo img {
    width: 100%;
    height: 100%;
}

.navBarUl {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 40%;
    justify-content: space-between;
}
.navBarUl a {
    color: black;
}

.headerNav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -3px;
    outline: none;
    padding: 0;
}

.amount {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    left: 84%;
    border-radius: 50%;
    top: 10%;
    display: flex;
    align-items:center;
    justify-content: center;
    color: white;
    font-size: bold;

    /* transition: top 0.2s linear; */
    /* animation: upDown 2s 1; */
    /* animation-iteration-count: 1 */
}
.upDown {
    /* top: -5%; */
    /* background-color: black; */
    animation: upDown 0.5s 1ms
 } 

 @keyframes upDown {
    0% {
        transform: translateY(-20%);
      }
      50% {
        transform: translateY(-80%);
      }
      100% {
        transform: translateY(-5%);
      }
 } 



.hide {
    display: none;
}
