.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 500px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 1em;
}
.logo {
    width: 114px;
    height: 48px;
}
.logo img {
    width: 100%;
    height: 100%;
}

.navBarUl {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    width: 40%;
    justify-content: space-between;
}
.navBarUl a {
    color: black;
}

.headerNav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -3px;
    outline: none;
    padding: 0;
}

